<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>${mckesson_jfrog_server_username}</username>
      <password>${mckesson_jfrog_server_password}</password>
      <id>central</id>
    </server>
    <server>
      <username>${mckesson_jfrog_server_username}</username>
      <password>${mckesson_jfrog_server_password}</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>ontada-sre-maven</name>
          <url>https://mck.jfrog.io/artifactory/ontada-sre-maven/</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>ontada-sre-maven</name>
          <url>https://mck.jfrog.io/artifactory/ontada-sre-maven/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>ontada-sre-maven</name>
          <url>https://mck.jfrog.io/artifactory/ontada-sre-maven/</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>ontada-sre-maven</name>
          <url>https://mck.jfrog.io/artifactory/ontada-sre-maven/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
<!-- A profile to disable Maven Central -->  
	<profile>
		<id>disable-central</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>https://repo.maven.apache.org/maven2/</url>
					<releases><enabled>false</enabled></releases>
					<snapshots><enabled>false</enabled></snapshots>
				</repository>
			</repositories>
		</profile>
<!-- A profile to enable Maven Central -->
		<profile>
			<id>enable-central</id>
			<repositories>
				<repository>
				<id>central</id>
				<url>https://repo.maven.apache.org/maven2/</url>
				<releases><enabled>true</enabled></releases>
				<snapshots><enabled>false</enabled></snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
				<id>central</id>
				<url>https://repo.maven.apache.org/maven2/</url>
				<releases><enabled>true</enabled></releases>
				<snapshots><enabled>false</enabled></snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
    <activeProfile>enable-central</activeProfile>
  </activeProfiles>
</settings>